/* Box sizing rules */
*, *::before, *::after {
  box-sizing: border-box;
}
/* Remove default padding */
ul[class], ol[class] {
  padding: 0;
}
/* Remove default margin */
body, h1, h2, h3, h4, p, ul[class], ol[class], li, figure, figcaption, blockquote, dl, dd {
  margin: 0;
}
/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
/* Remove list styles on ul, ol elements with a class attribute */
ul[class], ol[class] {
  list-style: none;
}
/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}
/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}
/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}
/* Inherit fonts for inputs and buttons */
input, button, textarea, select {
  font: inherit;
}
/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  margin: 0 auto 40px;
  background: #FFF;
  color: #00F;
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  line-height: 1.4;
}
h1, h2, h3, h4 {
  font-weight: 400;
}
a {
  color: #00F;
  text-decoration: none;
}
nav[role=navigation] {
  border-bottom: 2px solid #00F;
  text-align: center;
  display: flex;
}
nav[role=navigation] .custom-menu-class {
  flex-basis: 80px;
  border-right: 2px solid #00F;
  display: flex;
}
nav[role=navigation] .custom-menu-class:before {
  display: block;
  margin: auto;
  width: 16px;
  height: 10px;
  border-top: 2px solid #00F;
  border-bottom: 2px solid #00F;
  content: '';
}
nav[role=navigation] .search-button {
  flex-basis: 80px;
  border-left: 2px solid #00F;
  display: flex;
}
nav[role=navigation] .search-button a {
  display: block;
  margin: auto;
}
nav[role=navigation] .menu {
  display: none;
}
nav[role=navigation] .logo {
  flex-grow: 1;
  padding: 20px 0;
}
.home-intro {
  padding: 20px 0;
  border-bottom: 2px solid #00F;
  font-size: 45px;
  text-align: center;
}
.home-intro p {
  display: inline;
  padding: 0 40px;
}
.home-intro abbr, .home-intro a {
  text-decoration: none;
  border-bottom: 2px solid #00F;
}
.selected-areas-of-focus {
  padding: 50px 0;
  border-bottom: 2px solid #00F;
  text-align: center;
}
.selected-areas-of-focus h2 {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 0.05rem;
}
.selected-areas-of-focus ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1000px;
}
.selected-areas-of-focus ul li {
  display: block;
  width: 230px;
  height: 230px;
  margin: 18px;
  border: 2px solid #00F;
  clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
  background: #00F;
}
.selected-areas-of-focus ul li a {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
  background: #FFF;
  font-size: 30px;
  padding: 0 28px;
}
.selected-journal-entries {
  padding: 0 4%;
  border-bottom: 2px solid #00F;
  text-align: center;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}
.selected-journal-entries h2 {
  padding: 0 3%;
  flex-basis: 25%;
  border-right: 2px solid #00F;
  display: flex;
  justify-content: center;
  align-items: center;
}
.selected-journal-entries ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-left: 2px solid #00F;
}
.selected-journal-entries ul li {
  flex-basis: calc(100% / 3);
  border-right: 2px solid #00F;
  text-align: left;
}
.selected-journal-entries ul img {
  width: 100%;
  height: 175px;
  object-fit: cover;
}
.selected-journal-entries__body {
  display: block;
  border-top: 2px solid #00F;
  padding: 24px 30px;
}
.selected-journal-entries__date, .selected-journal-entries__title {
  display: block;
}
.selected-journal-entries__date {
  margin-bottom: 14px;
  font-family: 'PT Mono', 'Courier New', Courier, monospace;
  font-size: 12px;
  letter-spacing: 0.05rem;
}
.selected-journal-entries__title {
  font-size: 20px;
}
.selected-events {
  margin: 80px auto;
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  width: 788px;
}
.selected-events__heading, .selected-events__event {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.selected-events__heading {
  flex-basis: 36%;
  padding: 0 5.97222222%;
  text-transform: lowercase;
}
.selected-events__event {
  flex-basis: 32%;
  border: 2px solid #00F;
  border-radius: 666px;
  overflow: hidden;
}
.selected-events__event-link {
  display: block;
  width: 100%;
}
.selected-events img {
  width: 100%;
  height: 175px;
  object-fit: cover;
}
.selected-events__event-body {
  display: block;
  border-top: 2px solid #00F;
  padding: 24px 12.72727273%;
}
.selected-events__type, .selected-events__title, .selected-events__date {
  display: block;
}
.selected-events__type {
  margin: 15px 0;
  font-family: 'PT Mono', 'Courier New', Courier, monospace;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}
.selected-events__title {
  margin: 15px 0;
  font-size: 20px;
}
.selected-events__date {
  margin: 32px 0;
  font-family: 'PT Mono', 'Courier New', Courier, monospace;
  font-size: 12px;
  letter-spacing: 0.05rem;
}
footer {
  border-top: 2px solid #00F;
  margin: 80px 0;
}
.wp-block-image img {
  height: auto;
}
#main {
  margin: 60px 5%;
}
.use-case {
  position: relative;
}
@media (min-width: 768px) {
  .use-case-info {
    position: absolute;
  }
}
.use-case h2 {
  font-size: 36px;
}
.use-case-date, .use-case-areas {
  margin: 1rem 0;
  font-family: 'PT Mono', 'Courier New', Courier, monospace;
  font-size: 12px;
  letter-spacing: 0.05rem;
}
.use-case-date a, .use-case-areas a {
  text-decoration: underline;
}
