@import "andys-reset";
@import "typography";


$blue: #00F;
$white: #FFF;

$border: 2px solid $blue;

$column_w: 6.382978723404255%;
$gutter_w: 2.127659574468085%;

$breakpoint: 768px;

@mixin grid($column_num: 0, $pad_right: false, $pad_left: false) {

	$gutter_num: $column_num - 1;

	$width: ($column_num * $column_w) + ($gutter_num * $gutter_w);

	flex-basis: $width;

	@if $pad_right {
		padding-right: $gutter_w;
	}
	@if $pad_left {
		padding-left: $gutter_w;
	}
}

@mixin row {
	@media (min-width: $breakpoint) {
		display: flex;
		align-items: flex-start;
	}
}

@mixin collapse-margins {
	@media (max-width: $breakpoint) {
		margin-left: 0;
		margin-right: 0;
	}
}

body {
	margin: 0 auto 40px;
	background: $white;
	color: $blue;
	font-family: 'DM Sans', sans-serif;
}

h1,
h2,
h3,
h4 {
	font-weight: 400;
	line-height: 1.5;
}

a {
	color: $blue;
	text-decoration: none;
}

nav[role=navigation] {
	.custom-menu-class {
		flex-basis: 80px;
		border-right: $border;
		display: flex;
		&:before {
			display: block;
			margin: auto;
			width: 16px;
			height: 10px;
			border-top: $border;
			border-bottom: $border;
			content: '';
		}
	}
	.search-button {
		flex-basis: 80px;
		border-left: $border;
		display: flex;
		a {
			display: block;
			margin: auto;
		}
	}
	.menu {
		display: none;
	}
	border-bottom: $border;
	text-align: center;
	display: flex;
	.logo {
		flex-grow: 1;
		padding: 20px 0;
	}
}

.home-intro {
	padding: 20px 0;
	border-bottom: $border;
	font-size: 45px;
	text-align: center;
	p {
		display: inline;
		padding: 0 40px;
	}
	abbr,
	a {
		text-decoration: none;
		border-bottom: $border;
	}
}

.selected-areas-of-focus {
	padding: 50px 0;
	border-bottom: $border;
	text-align: center;
	h2 {
		margin-bottom: 20px;
		text-transform: uppercase;
		font-size: 20px;
		letter-spacing: 0.05rem;
	}
	ul {
		list-style: none;
		margin: 0 auto;
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		max-width: 1000px;
		li {
			display: block;
			width: 230px;
			height: 230px;
			margin: 18px;
			border: $border;
			clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
			background: $blue;
			a {
				display: flex;
				height: 100%;
				justify-content: center;
				align-items: center;
				clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
				background: $white;
				font-size: 30px;
				padding: 0 28px;
			}
		}
	}
}

.selected-journal-entries {
	padding: 0 4%;
	border-bottom: $border;
	text-align: center;
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	h2 {
		padding: 0 3%;
		flex-basis: 25%;
		border-right: $border;
		display: flex;
    justify-content: center;
    align-items: center;
	}
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		border-left: $border;
		li {
			flex-basis: calc(100% / 3);
			border-right: $border;
			text-align: left;
		}
		img {
			width: 100%;
			height: 175px;
			object-fit: cover;
		}
	}
	&__body {
		display: block;
		border-top: $border;
		padding: 24px 30px;
	}
	&__date,
	&__title {
		display: block;
	}
	&__date {
		margin-bottom: 14px;
		font-family: 'PT Mono', 'Courier New', Courier, monospace;
		font-size: 12px;
		letter-spacing: 0.05rem;
	}
	&__title {
		font-size: 20px;
	}
}

.selected-events-and-workshops {
	padding: 50px 0;
	border-bottom: $border;
}